@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Montserrat:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

:root {
  --primary-color:hsl(225,50%,48%);
  --secondary-color:hsl(180,17%,95%);
  --color-one:hsl(15,74%,70%);
  --color-two:hsl(28,100%,82%);
  --hover-color:hsl(225,56%,59%);
  --white-color:hsl(0,0%,100%);
  --black-color:hsl(0,0%,12%);
  --text-color:hsl(240,1%,48%);
  --border-color:hsl(0,0%,83%);
  --white-dim-color:hsl(0,0%,93%);
  --grey-bg:hsl(0,0%,96%);
  --grey-text:rgb(145,145,145);
  --input-color:hsl(330,12%,97%);
  --box-shadow:box-shadow:rgba(0,0,0,0.1) 0px 10px 15px -3px,rgba(0,0,0,0.05) 0px 4px 6px -2px;
  --transition: .4s ease-in-out;
}

body {
  background: var(--white-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0.2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--white-color);
}
.btn a {
  color: var(--white-color);
  font-weight: 500;
}
.btn:hover {
  background: var(--hover-color);
}

img, video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: var(--grey-text);
}

p {
  font-size: 13px;
  color: var(--grey-text);
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: var(--black-color);
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: var(--black-color);
}

.nav-bar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
}
.nav-bar .nav-bar-one, .nav-bar .nav-bar-two {
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.nav-bar .nav-bar-one {
  background: var(--secondary-color);
}
.nav-bar .nav-bar-one .icon:hover {
  color: var(--primary-color);
}
.nav-bar .nav-bar-one li {
  padding: 0.5rem;
}
.nav-bar .nav-bar-one .atb {
  gap: 1rem;
}
.nav-bar .nav-bar-one .atb span {
  color: var(--black-color);
  font-size: 13px;
  cursor: pointer;
}
.nav-bar .nav-bar-one .atb span:hover {
  color: var(--primary-color);
  font-weight: 700;
}
.nav-bar .nav-bar-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 3rem;
  padding: 1.5rem 1rem;
  position: fixed;
  transition: 0.3s ease-in-out;
}
.nav-bar .nav-bar-two .logo-div .logo {
  width: 20%;
}
@media screen and (max-width: 760px) {
  .nav-bar .nav-bar-two .nav-bar-menu {
    position: absolute;
    background: var(--secondary-color);
    padding: 1.5rem;
    top: 5rem;
    right: -50%;
    width: 80%;
    transform: translateX(50%);
    z-index: 2000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: 3px solid var(--white-color);
    transition: 0.4s ease-in-out;
  }
  .nav-bar .nav-bar-two .nav-bar-menu .menu {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .nav-bar .nav-bar-two .nav-bar-menu .menu .list-item {
    padding: 0.5rem 0;
    cursor: pointer;
    color: var(--black-color);
  }
  .nav-bar .nav-bar-two .nav-bar-menu .menu .list-item:hover {
    color: var(--primary-color);
    font-weight: 700;
  }
  .nav-bar .nav-bar-two .nav-bar-menu .btn-one {
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
  }
  .nav-bar .nav-bar-two .btn-two {
    display: none;
  }
}
.nav-bar .nav-bar-two .toggle-icon .icon {
  font-size: 30px;
  color: var(--black-color);
}
.nav-bar .nav-bar-two .show-nav-bar {
  right: 50%;
  transition: 0.5s ease-in-out;
}
.nav-bar .nav-with-bg {
  background: var(--secondary-color);
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
}
.home .main-text {
  color: var(--black-color);
  font-weight: 700;
  font-size: 15px;
  line-height: 2.5rem;
}
.home .home-images {
  width: 100%;
  margin: 1rem auto 0;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
}
.home .home-images .video-div {
  width: 100%;
}
.home .home-images .video-div .video {
  border-radius: 10rem;
}
.home .home-images .plane {
  position: absolute;
  width: 100%;
  top: -10%;
}

.search .section-container {
  width: 100%;
  padding: 1.5rem;
  border: 2px solid var(--grey-bg);
  border-radius: 16px;
  row-gap: 2rem;
}
.search .section-container .btns {
  background: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 1rem;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.search .section-container .single-btn {
  padding: 0.8rem 1.5rem;
  font-size: 13px;
  border-radius: 3rem;
  width: 80%;
  text-align: center;
}
.search .section-container .single-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
  font-weight: 500;
  transition: 0.4s ease;
}
.search .section-container .active {
  background: var(--primary-color);
  color: var(--white-color);
  font-weight: 500;
}
.search .search-inputs {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.search .search-inputs .single-input .icon-div {
  padding: 16px 10px;
  border-radius: 3rem;
  background: var(--secondary-color);
  margin-right: 1rem;
}
.search .search-inputs .single-input .icon-div .icon {
  color: var(--black-color);
  opacity: 0.7;
}
.search .search-inputs .single-input .texts h4 {
  padding-top: 0;
  padding-bottom: 0.7rem;
  color: var(--black-color);
  font-weight: 700;
}
.search .search-inputs .single-input .texts input {
  width: 95%;
  border: none;
  outline: none;
  background: transparent;
}
.search .search-inputs .single-input .texts input::-moz-placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.search .search-inputs .single-input .texts input::placeholder {
  font-size: 12px;
  opacity: 0.5;
}

.support .section-container .titles-div {
  text-align: center;
}
.support .section-container .titles-div small {
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--black-color);
  line-height: 1.5rem;
}
.support .section-container .info-div {
  margin-top: 2rem;
  gap: 1.5rem;
}
.support .section-container .info-div .text-div {
  gap: 1.5rem;
}
.support .section-container .info-div .text-div .single-info .number {
  background: var(--primary-color);
  padding: 5px 12px;
  width: 40px;
  border-radius: 3rem;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: var(--white-color);
}
.support .section-container .info-div .text-div .single-info .color-one {
  background: var(--color-one);
}
.support .section-container .info-div .text-div .single-info .color-two {
  background: var(--color-two);
}
.support .section-container .info-div .img-div {
  margin: auto;
}
.support .section-container .info-div .img-div img {
  width: 100%;
  max-width: 420px;
}

.info {
  background: var(--secondary-color);
}
.info .info-container .title-div {
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  justify-content: space-between;
}
.info .info-container .icon {
  color: var(--white-color);
}
.info .info-container .cards-div {
  gap: 1.5rem;
  margin-top: 3rem;
}
.info .info-container .cards-div .single-card {
  background: var(--white-color);
  padding: 3rem 2rem;
  border-radius: 10rem;
  gap: 1rem;
  text-align: center;
  margin: auto;
  height: 320px;
  width: 90%;
  max-width: 250px;
}
.info .info-container .cards-div .single-card .icon-div {
  justify-content: center;
  margin: auto;
  background: var(--primary-color);
  width: -moz-max-content;
  width: max-content;
  height: 55px;
  padding: 1rem;
  border-radius: 3rem;
}
.info .info-container .cards-div .single-card .card-title {
  color: var(--black-color);
  font-weight: 700;
}
.info .info-container .cards-div .single-card .color-one {
  background: var(--color-one);
}
.info .info-container .cards-div .single-card .color-two {
  background: var(--color-two);
}

.lounge .section-container {
  gap: 1.5rem;
}
.lounge .section-container .img-div {
  margin: auto;
}
.lounge .section-container .img-div img {
  width: 100%;
  max-width: 430px;
}
.lounge .section-container .text-div .grids {
  margin-top: 1rem;
  gap: 1.5rem;
}
.lounge .section-container .text-div .grids .single-grid .grid-title {
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: var(--black-color);
}

.travelers .section-container {
  text-align: center;
}
.travelers .section-container .travelers-container {
  margin-top: 1rem;
  gap: 1.5rem;
}
.travelers .section-container .travelers-container .single-traveler {
  position: relative;
  height: 320px;
  width: 85%;
  max-width: 250px;
  overflow: hidden;
  border-radius: 10rem;
  gap: 1rem;
  margin: auto;
}
.travelers .section-container .travelers-container .single-traveler .destionation-image, .travelers .section-container .travelers-container .single-traveler .traveler-image, .travelers .section-container .travelers-container .single-traveler .traveler-name {
  position: absolute;
}
.travelers .section-container .travelers-container .single-traveler .destionation-image {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.travelers .section-container .travelers-container .single-traveler .traveler-image {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid rgba(225, 225, 225, 0.637);
  transition: var(--transition);
  animation: animated 2.3s infinite;
}
@keyframes animated {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
.travelers .section-container .travelers-container .single-traveler .traveler-name {
  bottom: -100%;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background: var(--white-color);
  padding: 1.5rem 1rem;
  transition: var(--transition);
  animation: animatedBorders 2.3s infinite;
}
.travelers .section-container .travelers-container .single-traveler .traveler-name span {
  display: block;
  color: black;
  font-weight: 700;
}
.travelers .section-container .travelers-container .single-traveler .traveler-name p {
  color: var(--primary-color);
  font-style: italic;
}
@keyframes animatedBorders {
  0% {
    border-radius: 0rem;
  }
  50% {
    border-radius: 2rem;
  }
  100% {
    border-radius: 0rem;
  }
}
.travelers .section-container .travelers-container .single-traveler:hover .traveler-name {
  bottom: 0;
  transition: 1s ease-in-out;
}
.travelers .section-container .travelers-container .single-traveler:hover .traveler-image {
  bottom: 110px;
  transition: 1s ease-in-out;
}

.subscribe {
  background: var(--secondary-color);
}
.subscribe .input-div {
  margin-top: 1rem;
  flex-direction: column;
  background: var(--white-color);
  border-radius: 1rem;
}
.subscribe .input-div input {
  border: none;
  outline: none;
  background: transparent;
  padding: 1rem 0.5rem;
}
.subscribe .input-div input:placeholder {
  font-size: 13px;
  opacity: 0.5;
}
.subscribe .input-div .btn {
  width: 100%;
}

.footer {
  background: var(--secondary-color);
}
.footer .section-container {
  gap: 2.5rem;
}
.footer .section-container .grid-one {
  gap: 1rem;
  justify-content: center;
  margin: auto;
}
.footer .section-container .grid-one .logo-div .logo {
  width: 20%;
}
.footer .section-container .grid-one .social-icon {
  margin-top: 1rem;
  gap: 1rem;
}
.footer .section-container .grid-one .social-icon .icon {
  height: 50px;
  width: 30px;
  border-radius: 10rem;
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  padding: 0.4rem;
  color: var(--grey-text);
}
.footer .section-container .grid-one .social-icon .icon:hover {
  background: var(--primary-color);
  transform: translateY(-7px);
  transition: var(--transition);
  border: 1px solid var(--primary-color);
  color: var(--white-color);
}
.footer .section-container .footer-links {
  display: grid;
}
.footer .section-container .footer-links .link-title {
  color: var(--black-color);
  font-weight: 500;
  display: block;
  padding-bottom: 1rem;
}
.footer .section-container .footer-links li a {
  display: block;
  color: var(--grey-text);
  transition: var(--transition);
  padding: 0.3rem 0;
}
.footer .section-container .footer-links li a:hover {
  transform: translateX(7px);
  color: var(--primary-color);
}
.footer .copyright-div {
  justify-content: center;
  margin-top: 1.5rem;
  padding: 1rem;
  gap: 1rem;
  border-top: 1px solid var(--grey-text);
  text-align: center;
}

@media screen and (min-width: 480px) {
  .home {
    padding-top: 12rem;
  }
  .search .section-container .search-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .travelers .section-container .travelers-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .subscribe .section-container {
    max-width: 80%;
    margin: auto;
  }
  .subscribe .section-container .input-div {
    flex-direction: row;
    padding: 0 0.5rem;
    border-radius: 3rem;
  }
  .footer .section-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }
  .footer .section-container .footer-links {
    justify-content: center;
  }
}
@media screen and (min-width: 570px) {
  .home .main-text {
    width: 80%;
  }
  .home .home-images .video {
    border-radius: 15rem;
  }
  .home .home-images .plane {
    position: relative;
    width: 95%;
    top: -8%;
  }
  .search .section-container .btns {
    border-radius: 3rem;
    flex-direction: row;
  }
  .support .section-container .info-div .text-div {
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .info .info-container .title-div {
    flex-direction: row;
  }
  .info .info-container .title-div h2 {
    text-align: left;
    max-width: 500px;
  }
  .info .info-container .cards-div {
    grid-template-columns: repeat(2, 1fr);
  }
  .lounge .section-container .text-div .grids {
    grid-template-columns: repeat(2, 1fr);
  }
  .subscribe .section-container .input-div {
    justify-content: space-between;
  }
  .subscribe .section-container .input-div .btn {
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .footer .section-container {
    padding-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 680px) {
  .home .main-text {
    width: 80%;
  }
  .home .home-images .video-div {
    width: 80%;
  }
  .home .home-images .video-div .video {
    height: 100%;
    width: 100%;
    border-radius: 15rem;
  }
  .home .home-images .plane {
    width: 95%;
    top: -8%;
  }
  .search .section-container .btns {
    border-radius: 3rem;
    flex-direction: row;
  }
  .search .section-container .search-inputs {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer .section-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .nav-bar {
    align-items: center;
  }
  .nav-bar .nav-bar-one .none {
    display: flex;
    gap: 1.5rem;
  }
  .nav-bar .nav-bar-one .none li {
    font-size: 13px;
    gap: 0.5rem;
    color: var(--text-color);
  }
  .nav-bar .nav-bar-one .none li:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
  .nav-bar .nav-bar-two {
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-bar .nav-bar-two .logo-div .logo {
    max-width: 20%;
  }
  .nav-bar .nav-bar-two .menu {
    flex-direction: row;
    gap: 0.5rem;
  }
  .nav-bar .nav-bar-two .menu .list-item {
    padding: 0 0.5rem;
    font-size: 14px;
    cursor: pointer;
    color: var(--text-color);
    font-weight: 700;
  }
  .nav-bar .nav-bar-two .menu .list-item:hover {
    color: var(--primary-color);
    font-weight: 700;
  }
  .nav-bar .nav-bar-two .btn-one, .nav-bar .nav-bar-two .toggle-icon {
    display: none;
  }
  .nav-bar .nav-bar-two .btn-two {
    display: inline;
  }
  .search .section-container .btns {
    width: 70%;
    border-radius: 3rem;
    flex-direction: row;
  }
  .search .section-container .search-inputs {
    grid-template-columns: repeat(4, 1fr);
  }
  .search .section-container .search-inputs .single-input .texts input {
    width: 100%;
  }
  .support .section-container .info-div {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 5rem;
  }
  .support .section-container .info-div .text-div {
    margin-top: 0rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .info .info-container {
    padding: 0 6rem;
  }
  .info .info-container .title-div {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .info .info-container .cards-div {
    grid-template-columns: repeat(3, 1fr);
  }
  .info .info-container .cards-div .single-card {
    max-width: 260px;
    padding: 3rem 1rem;
  }
  .lounge .section-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .lounge .section-container .text-div {
    grid-area: 1;
  }
  .lounge .section-container .text-div .grids {
    grid-template-columns: repeat(2, 1fr);
  }
  .travelers .section-container .travelers-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 960px) {
  .home {
    padding-top: 13rem;
  }
  .home .main-text {
    width: 70%;
    padding-bottom: 1.5rem;
    font-size: 22px;
    line-height: 4rem;
  }
  .search .section-container .search-inputs {
    grid-template-columns: repeat(5, 1fr);
  }
  .travelers .section-container .travelers-container {
    grid-template-columns: repeat(4, 1fr);
    margin: 3rem 0;
  }
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 15px;
    line-height: 25px;
  }
  h4 {
    font-size: 20px;
  }
  h2 {
    font-size: 27px;
  }
  .section {
    padding: 6rem 0 4rem;
  }
  .container {
    width: 75%;
    margin: auto;
  }
  .nav-bar .nav-bar-one, .nav-bar .nav-bar-two {
    padding: 1.5rem 5rem;
  }
  .nav-bar .nav-with-bg {
    padding: 0 5rem;
  }
  .nav-bar .nav-bar-menu .menu {
    padding-top: 20px;
  }
  .nav-bar .nav-bar-menu .menu .list-item {
    font-size: 1.2rem;
  }
  .nav-bar .nav-bar-two .btn {
    margin-top: 20px;
  }
  .home .main-text {
    width: 60%;
    font-size: 25px;
    line-height: 4rem;
  }
  .home .home-images .video-div {
    width: 90%;
    height: 300px;
  }
  .home .home-images .video-div .video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15rem;
  }
  .home .home-images .plane {
    width: 100%;
    top: -10%;
  }
  .search .section-container .btns {
    width: 50%;
  }
}
::-moz-selection {
  background: var(--primary-color);
  color: var(--white-color);
}
::selection {
  background: var(--primary-color);
  color: var(--white-color);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--grey-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */